  <nav class="fixed top-0 w-full z-50 px-6 py-4">
    <div class="max-w-6xl mx-auto nav-glass rounded-2xl px-6 py-3 flex justify-between items-center">
      
      <div class="logo" routerLink="/">
        MBRACO<span class="text-blue-500">-</span>WEB
      </div>
      
      <div class="nav-actions">
        @if (!isHome) {
          <button (click)="goBack()" class="btn-nav back">
            Volver
          </button>
        }
      
        <button routerLink="/contacto" class="btn-nav contact">
          CONTACTO
        </button>
        <!-- comparte  estilo ver scss para eliminar -->
        <button routerLink="/analyticsDashboard" class="btn-nav contact">
          DASHBOARD
        </button>
      </div>

    </div>
  </nav>