<section class="contact-container">
  <div class="">
    <h2 class="contact-title">
      Dejanos tu consulta <br>
    </h2>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <div class="form-group">
        <label for="email">Email de contacto</label>
        <input id="email" type="email" formControlName="email"
          [class.invalid]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
          placeholder="ejemplo@correo.com">
      </div>

      <div class="form-group">
        <label for="subject">¿En qué puedo ayudarte?</label>
        <input id="subject" type="text" formControlName="subject" placeholder="Ej: Desarrollo de App Angular">
      </div>

      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea id="message" formControlName="message" placeholder="Contame un poco sobre tu idea..."></textarea>
      </div>

      <button type="submit" class="btn-submit" [disabled]="contactForm.invalid || status === 'SENDING'">
        @if (status === 'SENDING') {
        <span>Enviando propuesta...</span>
        } @else {
        <span>Enviar Mensaje</span>
        }
      </button>

      @if (status === 'SUCCESS') {
      <p class="feedback-msg success">¡Mensaje enviado! Te responderé lo antes posible.</p>
      }
      
      @if (status === 'ERROR') {
      <p class="feedback-msg error">Hubo un problema. Por favor, reintentá.</p>
      }
    </form>
  </div>
</section>