/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top center, #1e293b 0%, #0f172a 100%);
  min-height: 100vh;
}

/* Efecto de vidrio para las tarjetas */
.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}